<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form th:action="@{/message/send}" th:object="${message}" method="post">
        <p>Text message: <label>
            <input type="text" th:field="*{message}"/>
        </label></p>
            <input type="hidden" th:field="*{senderId}"/>
            <input type="hidden" th:field="*{recipientId}"/>
            <input type="hidden" th:field="*{sentAt}"/>
        <p><button type="submit" value="Отправить"></button>
            <button type="reset" value="Отмена" ></button></p>
    </form>
</body>
</html>