<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All users</title>
    </head>
<body>
<header th:replace="layout :: site-logo"/>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align:center">
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Second Name</th>
                <th>Del Friends</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td>
                    <form method=post th:action="@{/users/del/(id=${user.id})}">

                        <button type="submit" class="btn btn-danger">Del</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <p><a href="profile.html" th:href="@{/users/profile}">Back to profile</a></p>
    </div>
    <div class="col-sm-4"></div>
</div>
</body>
</html>