<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Login Page</title>


</head>
<body>

    <div class="row">
        <header th:replace="layout :: site-logo"/>
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <!--&lt;!&ndash;/*@thymesVar id="loginForm" type="ru.sberbank.front.forms.LoginForm"*/&ndash;&gt;-->
            <!--<form method="post" th:object="${loginForm}">-->
            <!--<div><label for="username">Username:</label></div>-->
            <!--<input id="username" type="text" name="username" th:value="*{username}" />-->
            <!--<span class="formError" th:if="${#fields.hasErrors('username')}"-->
            <!--th:errors="*{username}">Invalid username</span>-->

            <!--<div><label for="password" th:value="*{username}">Password:</label></div>-->
            <!--<input id="password" type="password" name="password" th:value="*{password}" />-->
            <!--<span class="formError" th:if="${#fields.hasErrors('password')}"-->
            <!--th:errors="*{password}">Invalid password</span>-->

            <!--<div><input type="submit" value="Login"/>-->
            <!--<a href="register.html" th:href="@{/users/register}">[Go to Register]</a></div>-->

            <!--</form>-->
            <!--<ul id="messages" th:with="notifyMessages=${session[T(ru.sberbank.front.services-->
            <!--.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">-->
            <!--<li th:each="msg : ${notifyMessages}" th:text="${msg.text}"-->
            <!--th:class="${#strings.toLowerCase(msg.type)}">-->
            <!--</li>-->
            <!--<span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(-->
            <!--T(ru.sberbank.front.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>-->

            <!--</ul>-->
            <form action="/users/login" method="post">
                <div class="form-group">
                    <label for="login">Login:</label>
                    <input name="login" type="text" class="form-control" id="login">

                    <label for="password">Password:</label>
                    <input name="password" type="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-default">Sign in</button>

            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

</body>
</html>