<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Photo album</title>
    </head>
<body>
<header th:replace="layout :: site-logo"/>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="/users/photoalbum.html" method="post" enctype="multipart/form-data">
            File1 to upload: <input type="file" name="file"><br/>
            Name1: <input type="text" name="name"><br/> <br/>
            <input type="submit" value="Upload"> Press here to upload the file!
        </form>
        <table class="table">
            <thead>
            <tr>
                <th>Photo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="album : ${album}">
                <td><img th:src="${album.imageUrl}" alt="Photo from DB" style="width:60%"></td>
                <!--<td th:img="${album.imageUrl}"></td>-->
            </tr>
            </tbody>
            <div class="col-md-4"></div>
        </table>
    </div>

</div>
</body>
</html>